# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# macOS junk
.DS_Store

# Editor settings
.vscode/
.idea/

# Pygame assets cache (if any)
*.ogg~
*.png~
*.wav~

# Build / distribution folders
build/
dist/
*.spec
